section {
    width: 100%;
}
#banner{
    background-color: #2A2A2A;
    text-align: center;
    width: 100%;
}
#company,#phone{
    float: left;
    position: relative;
    text-align: center;
}

#company{
    width: 75%;
}

#phone{
    width: 25%;
}

.bg {
    position: absolute;
    top:0px;
    left:15px;
}
.phone-bg{
    position: absolute;
    top:5px;
    left:20px;
    z-index: 1;
}
.logo{
    position: absolute;
    top:165px;
    left:150px;
}
.text{
    position: absolute;
    top:265px;
    left:110px;
}
.box{
    position: absolute;
    top:410px;
    left:90px;
}
.group{
    position: absolute;
    top:475px;
    left:170px;
}

h1{
    font-size: 50px;
}

.description{
    margin: 2% 5%;
    text-align: left;
    line-height: 200%;
    font-size: x-large;
}

.prev, .next {
    color: black;
    font-weight: bold;
    font-size: 50px; 
}

.next{
    position: absolute;
    top:200px;
    left:340px;
    display: none;
}

.prev{
    position: absolute;
    top:200px;
    left:0px;
    display: none;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #979797;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 475px;
    left:160px;
    transition: background-color 0.6s ease;
  }

.active {
    background-color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media (max-width: 480px) {
    #company,#phone{
        float: none;
        position: relative;
    }
    #company{
        width: 100%;
    }
  }

  @media only screen and (max-width: 1240px) and (min-width: 480px){
    #company,#phone{
        float: none;
        position: relative;
    }
    #company{
        width: 100%;
    }
    #phone{
        left: 50%;
        transform: translateX(-50%);
    }
  }
